
.vs/Alun.AspNetCore.Log.Extensions/v15/.suo
.vs/Alun.AspNetCore.Log.Extensions/v15/Server/sqlite3/db.lock
.vs/Alun.AspNetCore.Log.Extensions/v15/Server/sqlite3/storage.ide
.vs/Alun.AspNetCore.Log.Extensions/v15/Server/sqlite3/storage.ide-shm
.vs/Alun.AspNetCore.Log.Extensions/v15/Server/sqlite3/storage.ide-wal
.vs/config/applicationhost.config
*.nupkg
*.dll
Alun.AspNetCore.Log.Extensions/bin/Debug/netcoreapp2.1/Alun.AspNetCore.Log.Extensions.deps.json
*.pdb
Alun.AspNetCore.Log.Extensions/obj/Alun.AspNetCore.Log.Extensions.csproj.nuget.cache
Alun.AspNetCore.Log.Extensions/obj/Alun.AspNetCore.Log.Extensions.csproj.nuget.g.props
Alun.AspNetCore.Log.Extensions/obj/Alun.AspNetCore.Log.Extensions.csproj.nuget.g.targets
Alun.AspNetCore.Log.Extensions/obj/Debug/Alun.AspNetCore.Log.Extensions.1.0.0.nuspec
Alun.AspNetCore.Log.Extensions/obj/Debug/netcoreapp2.1/Alun.AspNetCore.Log.Extensions.AssemblyInfo.cs
WebApplicationDemo/bin/Debug/netcoreapp2.1/WebApplicationDemo.deps.json
WebApplicationDemo/bin/Debug/netcoreapp2.1/WebApplicationDemo.runtimeconfig.dev.json
WebApplicationDemo/bin/Debug/netcoreapp2.1/WebApplicationDemo.runtimeconfig.json
WebApplicationDemo/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WebApplicationDemo/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WebApplicationDemo/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WebApplicationDemo/obj/WebApplicationDemo.csproj.nuget.g.targets
WebApplicationDemo/obj/WebApplicationDemo.csproj.nuget.g.props
WebApplicationDemo/obj/WebApplicationDemo.csproj.nuget.cache
WebApplicationDemo/obj/project.assets.json
WebApplicationDemo/obj/Debug/netcoreapp2.1/WebApplicationDemo.RazorTargetAssemblyInfo.cache
WebApplicationDemo/obj/Debug/netcoreapp2.1/WebApplicationDemo.RazorAssemblyInfo.cs
WebApplicationDemo/obj/Debug/netcoreapp2.1/WebApplicationDemo.RazorAssemblyInfo.cache
WebApplicationDemo/obj/Debug/netcoreapp2.1/WebApplicationDemo.csprojAssemblyReference.cache
WebApplicationDemo/obj/Debug/netcoreapp2.1/WebApplicationDemo.csproj.FileListAbsolute.txt
WebApplicationDemo/obj/Debug/netcoreapp2.1/WebApplicationDemo.csproj.CoreCompileInputs.cache
WebApplicationDemo/obj/Debug/netcoreapp2.1/WebApplicationDemo.csproj.CopyComplete
WebApplicationDemo/obj/Debug/netcoreapp2.1/WebApplicationDemo.assets.cache
WebApplicationDemo/obj/Debug/netcoreapp2.1/WebApplicationDemo.AssemblyInfoInputs.cache
WebApplicationDemo/obj/Debug/netcoreapp2.1/WebApplicationDemo.AssemblyInfo.cs
Alun.AspNetCore.Log.Extensions/obj/project.assets.json
Alun.AspNetCore.Log.Extensions/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Alun.AspNetCore.Log.Extensions/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Alun.AspNetCore.Log.Extensions/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Alun.AspNetCore.Log.Extensions/obj/Debug/netcoreapp2.1/Alun.AspNetCore.Log.Extensions.csprojAssemblyReference.cache
Alun.AspNetCore.Log.Extensions/obj/Debug/netcoreapp2.1/Alun.AspNetCore.Log.Extensions.csproj.FileListAbsolute.txt
Alun.AspNetCore.Log.Extensions/obj/Debug/netcoreapp2.1/Alun.AspNetCore.Log.Extensions.csproj.CoreCompileInputs.cache
Alun.AspNetCore.Log.Extensions/obj/Debug/netcoreapp2.1/Alun.AspNetCore.Log.Extensions.assets.cache
Alun.AspNetCore.Log.Extensions/obj/Debug/netcoreapp2.1/Alun.AspNetCore.Log.Extensions.AssemblyInfoInputs.cache
.vs/Alun.AspNetCore.Log.Extensions/DesignTimeBuild/.dtbcache
.vs/Supercharger/Alun.AspNetCore.Log.Extensions/codemap.dat
.vs/Supercharger/Alun.AspNetCore.Log.Extensions/global_history.dat
.vs/Supercharger/Alun.AspNetCore.Log.Extensions/workbench.dat
.vs/Supercharger/WebApplicationDemo/codemap.dat
.vs/Supercharger/WebApplicationDemo/global_history.dat
.vs/Supercharger/WebApplicationDemo/workbench.dat
/Alun.AspNetCore.Log.Extensions.MongoDb/bin/Debug/netcoreapp2.1
/Alun.AspNetCore.Log.Extensions.MongoDb/obj
/WebApplicationDemo.MongoDb/bin/Debug/netcoreapp2.1
/WebApplicationDemo.MongoDb/obj
/.vs/Supercharger
